# 07_06: CoderPad challenge

In [ ]:
# Instructions

## Country rankings by medals in men's events

**Your task** 

After loading the table that we made in video 07_04, produce a sorted table of total medals by country.

## Parameters

None.

## Result

A pandas DataFrame showing the top four countries, ranked by total medals, then gold, then silver, then bronze. The DataFrame index should contain the country, and the DataFrame columns should be 'Gold', 'Silver', 'Bronze', and 'Total'.

In [ ]:
# Answer

In [61]:
# Python code​​​​​​‌​‌​‌​​‌‌​‌​‌​‌​‌​‌‌‌‌​‌‌ below
# Use print("messages...") to debug your solution.

show_expected_result = True
show_hints = True

import pandas as pd

medals = pd.read_csv('medals.csv')

def rankcountries():
    counts = medals.groupby('Medal').Country.value_counts().unstack(level=0)[['Gold', 'Silver', 'Bronze']]
    counts['Total'] = counts.sum(axis=1)
    sorted = counts.sort_values(['Total', 'Gold', 'Silver', 'Bronze'], ascending=False)
    
    return sorted.fillna(0).astype(int).head(4)

In [54]:
# Test code

In [111]:
(all(rankcountries().index == ['United States', 'Jamaica', 'Kenya', 'Great Britain']) and
 all(rankcountries().Gold == [7, 1, 1, 0]) and
 all(rankcountries().Silver == [6, 2, 1, 2]) and
 all(rankcountries().Bronze == [5, 2, 2, 2]) and
 all(rankcountries().Total == [18, 5, 4, 4]))

True

In [109]:
# Console output

# Hint: to count medals by country: groupby and count, then unstack as we did in baby names
#       use sum(axis=1) to sum along columns and remove NaNs with fillna()

In [110]:
rankcountries()

Medal          Gold  Silver  Bronze  Total
Country
United States     7       6       5     18
Jamaica           1       2       2      5
Kenya             1       1       2      4
Great Britain     0       2       2      4